@import "tailwindcss";

@font-face {
  font-family: Almarai;
  src: url("../public/Assets/font/Almarai-Regular.ttf");
}

body {
  direction: rtl;
  font-family: Almarai, "sans-serif";
}

.container {
  @apply w-[83.5%] mx-auto m-4 max-sm:w-[88%];
}
